
[force_move]
enable_force_move: True

[menu __main __control __forcemove]
type: list
Name: Force Move

[menu __main __control __forcemove __forcemovex]
type: command
Name: Force Move X 10+
gcode: _THE_FORCE_X
index: 1

[menu __main __control __forcemove __forcemovey]
type: command
Name: Force Move Y 10+
gcode: _THE_FORCE_Y
index: 2


[menu __main __control __forcemove __forcemovez]
type: command
Name: Force Move Z 10+
gcode: _THE_FORCE_Z
index: 3

[menu __main __control __forcemove __forcemovee]
type: command
Name: Force Move E 100+
gcode: _THE_FORCE_E
index: 4

[gcode_macro _THE_FORCE_X]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        FORCE_MOVE STEPPER=stepper_x DISTANCE=10 VELOCITY=25 ACCEL=500
    {% else %}
        G1 X{printer.gcode_move.gcode_position.x+10} F1500
    {% endif %}

[gcode_macro _THE_FORCE_Y]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        FORCE_MOVE STEPPER=stepper_y DISTANCE=10 VELOCITY=25 ACCEL=500
    {% else %}
        G1 X{printer.gcode_move.gcode_position.y+10} F1500
    {% endif %}

[gcode_macro _THE_FORCE_Z]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        FORCE_MOVE STEPPER=stepper_z DISTANCE=10 VELOCITY=25 ACCEL=500
    {% else %}
        G1 X{printer.gcode_move.gcode_position.z-10} F1500
    {% endif %}

[gcode_macro _THE_FORCE_E]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        FORCE_MOVE STEPPER=extruder DISTANCE=10 VELOCITY=25 ACCEL=500
    {% else %}
        G1 X{printer.gcode_move.gcode_position.e+10} F1500
    {% endif %}


# [gcode_macro UNLOAD_FILAMENT]
# gcode:
#    M83                            ; set extruder to relative
#    G1 X125 Y50 Z80                ; move to servicing position
#    G1 E10 F300                    ; extrude a little to soften tip
#    G1 E-10 F3000                  ; jerk the filament out of the melt zone
#    G1 E-50 F1800                  ; retract the rest of the way
#    G1 E-10 F900                   ; retract the rest of the way
#    M82  


# [gcode_macro LOAD_FILAMENT]
# gcode:
#    M83                            ; set extruder to relative
#    G1 E30 F300                    ; load
#    G1 E15 F150                    ; prime nozzle with filament
#    M82


   
# [gcode_macro START_PRINT]
# gcode:
#     {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
#     {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
#     # Heat bed for probing
#     M190 S{BED_TEMP}
#     # Use absolute coordinates
#     G90
#     # Home the printer
#     G28

#     # If you are using QGL:
#     #QUAD_GANTRY_LEVEL
#     #G28 Z

#     # If you are using Z-Tilt:
#     #Z_TILT_ADJUST

#     # If you are generating a new bed mesh:
#     #BED_MESH_CALIBRATE

#     # If you are loading an existing mesh:
#     BED_MESH_PROFILE LOAD=default

#     # Move the nozzle near the bed
#     G1 Z5 F3000
#     # Set and wait for nozzle to reach printing temperature
#     M109 S{EXTRUDER_TEMP}
#     # Start printing!

# [gcode_macro END_PRINT]
# gcode:
#     # Turn off bed, extruder, and fan
#     M140 S0
#     M104 S0
#     M106 S0
#     # Move nozzle away from print while retracting
#     G91
#     G1 X-2 Y-2 E-3 F300
#     # Raise nozzle by 10mm
#     G1 Z10 F3000
#     G90
#     # Disable steppers
#     M84